@import '../../styles/roots';

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background-color: $accent-color;
  color: $white-color;
  font-weight: 600;
  text-transform: uppercase;
}
