@import '../../styles/index';

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;

  & .count {
    padding-right: 20px;
    & span {
      color: $accent-color;
      font-weight: 600;
    }
  }
}

.main {
  column-gap: 60px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 40px;
  margin-bottom: 120px;

  & .plants {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 550px) {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 1000px) {
    column-gap: 40px;
  }
  @media (max-width: 750px) {
    column-gap: 0;
    grid-template-columns: 1fr;
  }
}
