@import '../../styles/index';

.sort {
  display: flex;
  align-items: center;
  column-gap: 4px;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
  padding: 20px 20px;
  border-radius: 9px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  & .title {
    display: flex;
    align-items: center;
    column-gap: 8px;
    & svg {
      max-width: 20px;
      transition: transform 0.15s ease-in-out;

      &.rotated {
        transform: rotate(180deg);
      }
    }

    & span {
      color: $accent-color;
      font-weight: 700;
    }
  }

  & .list {
    right: 0;
    top: 0;
    position: absolute;
    background-color: #fff;
    margin-top: 70px;
    -webkit-box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
    box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
    border-radius: 9px;
    overflow: hidden;
    padding: 10px 0;
    z-index: 3;

    &.hidden {
      display: none;
    }

    & .item {
      padding: 12px 20px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      cursor: pointer;

      &:hover,
      &:active {
        background: $light-color;
      }

      & .active {
        font-weight: 700;
        color: $accent-color;
      }
    }
  }
}
