@import '../../styles/index';

.container {
  margin-top: 50px;

  & .cards {
    padding-top: 50px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
}
