@import '../../styles/index';

.cont {
  margin-top: 106px;
  margin-bottom: 60px;
  column-gap: 60px;
  display: grid;
  grid-template-columns: 4fr 1fr;

  & .news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px 40px;
  }
}
